<h1>Sign in</h1>

<%= title %>

<form action="/users/create-session" method="post">
    <input type="email" placeholder="email" name="email" required >
    <br>
    <br>
    <input type="password" placeholder="Password" name="password" required>
    <br>
    <br>
    <input type="submit" value="Sign-in">
</form>

<div>
    <p>
        <a href="/users/reset-pwd">forgot Password</a>
    </p>
</div>


<p>
    <a href="/users/auth/google">Google Sign-in/sign-up</a>
</p>

